* {
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #f1f1f1;
}
#root {
  width: 100%;
  height: 100%;
}
/* Our App Container */
.container {
  padding-bottom: 80px;
}
/* The header */
.header {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #f1f1f1;
  background: #3367d6;
  padding: 40px;
}
/* The note */
.note {
  color: #adadad;
  padding: 40px;
  margin: 20px;
  background: #fff;
  border: solid 1px #e9e9e9;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  transition: transform .2s ease;
}
.note:hover {
  transform: scale(1.02);
}
/* The add note button */
.btn {
  position: fixed;
  z-index: 1;
  right: 40px;
  bottom: 40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  font-weight: bold;
  color: #f1f1f1;
  background: #3367d6;
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  transition: transform .06s ease;
}

.btn:hover {
  transform: scale(1.2);
}
/* Textinput */
.textInput {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  border: none;
  outline: none;
  background: #2850a7;
  font-size: 16px;
  color: #f1f1f1;
}

/* The Delete Button */
.del{
  position: fixed;
  z-index: 1;
  right: 40px;
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #0366EE;
  border-radius:4px;
  background: #0366EE;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.button:hover, a.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none; }

.button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none; }

.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0; }
